<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/dashboard.css">


    <link rel="stylesheet" href="Blazor-LoginForm-Dashboard.styles.css" />
    <link rel="icon" type="image/png" href="images/logo.png" />


    <HeadOutlet />
</head>

<body class="bg-white">
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/mini-chart.js"></script>

    <script>
        feather.replace()
    </script>

</body>

</html>
